  .meet-and-greet__section {
    padding: 40px 20px;
    scroll-margin-top: 100px;
    margin-bottom: 100px;
  }

  .meet-and-greet__header {
    font-size: clamp(1.4rem, 6vw, 4rem);
    text-align: center;
  }

  .meet-and-greet__form {
    padding-top: 40px;
    max-width: 600px;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
  }

@media screen and (min-width: 479px) {
  .meet-and-greet__form {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 30px;
  }
}

  .meet-and-greet__form fieldset {
    display: flex;
    flex-direction: column;
    border: none;
    row-gap: 10px;
  }

  .meet-and-greet__label {
    font-size: 1.2rem;
  }

  .meet-and-greet__input {
    border: none;
    box-shadow: 2px 2px 10px -4px rgb(217, 217, 217);
    padding: 10px;
    border-radius: 10px;
    font-family: 'Delius';
    font-size: 1.1rem;
  }

  .meet-and-greet__submit {
    padding: 8px;
    border-radius: 12px;
    border: 2px solid #001B26;
    background-color: transparent;
    grid-column: span 2;
    cursor: pointer;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
    margin: 16px auto 0px;
    font-family: 'Delius';
  }
 
  @media screen and (min-width: 769px) {
    .meet-and-greet__submit {
      width: 250px;
      font-size: 1.2rem;
    }
  }
